# emacs
*~
\#*\#

# vi
*.swp

# Compiled python modules
*.pyc

# Tests artifacts
.cache
__pycache__

# Python
*.egg-info

# Binaries and lib
bin
include
lib
share

#venv
venv

#coverage
.coverage

#vscode
.vscode

#pycharm
.idea

#keys and certificates
*.key
*.pem
*.crt

#mock-ia
mock-ia1

#shibop1
shibop1

#data signing and storage
**/data/signing
**/data/storage

#exclude caddy generated config and data
**/caddy/config
**/caddy/data

# OP1 local runtime/build artifacts
/pilot/op1/logs/
/pilot/op1/ldap/data/
/pilot/op1/ldap/config/
/pilot/op1/shibboleth-idp-docker/
