import caddy-secrets

ta.oidf-pilot.edugain.org {
  handle_path /static/* {
    root * /static/ta.oidf-pilot.edugain.org
    file_server
  }
  handle {
    reverse_proxy gota:8765
  }
}

ia1.oidf-pilot.edugain.org {
  reverse_proxy goia1:8765
}

ia2.oidf-pilot.edugain.org {
  reverse_proxy goia2:8765
}

rp1.oidf-pilot.edugain.org {
  reverse_proxy offa:15661
}

op1.oidf-pilot.edugain.org {
  reverse_proxy shibop1:8080
}

op2.oidf-pilot.edugain.org {
  reverse_proxy mockia1:80
}

whoami.oidf-pilot.edugain.org {
   forward_auth offa:15661 {
      uri /auth
      copy_headers X-Forwarded-User X-Forwarded-Groups X-Forwarded-Name X-Forwarded-Email X-Forwarded-Provider X-Forwarded-Subject
   }

   reverse_proxy whoami:80
}

rp2.oidf-pilot.edugain.org {
   reverse_proxy rp2:80
}
