{
  local_certs
}

import caddy-secrets/default.caddy

ta.dev.localhost {
  handle_path /static/* {
    root * /static/ta.dev.localhost
    file_server
  }
  handle {
    reverse_proxy gota:8765
  }
}

ia1.dev.localhost {
  reverse_proxy goia1:8765
}

ia2.dev.localhost {
  reverse_proxy goia2:8765
}

rp1.dev.localhost {
  reverse_proxy offa:15661
}

oidc-test.dev.localhost {
  reverse_proxy oidc-test:4180
}

mdq.dev.localhost {
  reverse_proxy mdq:8080
}

ds.dev.localhost {
  reverse_proxy ds:8080
}

sp1.dev.localhost {
  reverse_proxy sp1:80
}

op1.dev.localhost {
  @oidcDiscovery path /.well-known/openid-configuration
  rewrite @oidcDiscovery /idp/profile/oidc/configuration

  @oidfedDiscovery path /.well-known/openid-federation
  rewrite @oidfedDiscovery /idp/profile/oidfed/entity-configuration

  reverse_proxy https://shibop1:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

ldap-ui.dev.localhost {
  reverse_proxy ldap-ui:80
}

op2.dev.localhost {
  reverse_proxy mockia1:80
}

whoami.dev.localhost {
   forward_auth offa:15661 {
      uri /auth
      copy_headers X-Forwarded-User X-Forwarded-Groups X-Forwarded-Name X-Forwarded-Email X-Forwarded-Provider X-Forwarded-Subject
   }

   reverse_proxy whoami:80
}

rp2.dev.localhost {
   reverse_proxy rp2:80
}
